// 選單
.courses-menu {
    a {
        width: max-content;
        border: 1px solid $white;
        border-radius: 8px;
        &:hover{
            border-color: $primary;
            color: $primary;
        }
    }
    .current{
        color: $primary;
        border-color: $primary;
    }
}

// 所有課程
.courses {
    padding-bottom: 2.5rem;
    @include pc{
        padding-bottom: 5.625rem;
    }
    .card{
        border-radius: 24px;
    }
    img{
        max-width: 100px;
        max-height: 100px;
    }
    .card-body{
        h5{
            font-size: 1.25rem; //20px
            @include pc{
                font-size: 1.5rem; //24px
            }
        }
    }
    .card-footer{
        a{
            border-radius: 8px;
        }
        .booking{
            background: linear-gradient(104deg, $secondary, $primary);
            &:hover{
                opacity: 0.8;
            }
        }
    }
}