@mixin pc {
    @media(min-width: 768px) {
        @content;
    }
}

// 圖片取代文字
@mixin hide-text {
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

//背景圖片設定
@mixin background-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

// 文字圖片漸層
@mixin gradient {
    background: linear-gradient(180deg, #09ACF5, #62DB54);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}